
<div class="row m-2">

  <!-- Local hardwares -->
  {% for hardware in site.hardwares %}

    {%- assign hardware_type  = "local" -%}
    {%- assign hardware_id    = hardware.name | slugify -%}
    {%- assign hardware_img   = hardware.image -%}
    {%- assign hardware_name  = hardware.name -%}
    {%- assign hardware_desc  = hardware.description -%}
    {%- assign hardware_tools = hardware.tools -%}
    {%- assign hardware_shop  = hardware.shop -%}

    {%- if hardware.external_url -%}
      {%- assign hardware_url = hardware.external_url -%}
      {%- assign external     = true -%}
    {%- else -%}
      {%- assign hardware_url = hardware.url | relative_url -%}
      {%- assign external     = false -%}
    {%- endif -%}

    {% include hardwares/hardware-card.html %}

  {% endfor %}

</div>
